body {
	background: url(../img/bg.jpg) no-repeat;
}
body,html{
	width: 1280px;
	height: 720px;
}
.dbroad{
	top: 395px;
	left: 456px;
}
.pinyin{
	top: 395px;
	left: 36px;
}

.pinyin ul li.active{
	color:#ffb500;
}
.focus{
	width: 325px;
	height: 449px;
	background: url(../img/focus.png) no-repeat;
	top:101px;
	-webkit-transition-duration: 100ms;
    -webkit-transition-property: left;
}
.main{
	padding-top:120px;
}
.main ul{
	height: 900px;
}
.main ul li{
	height: 413px;
	width: 289px;
}
.train{
	left: 300px;
	background: url(../img/train_bg.png);
}
.passenger{
	left: 720px;
	background: url(../img/passenger_bg.png);
}
.default{
	width: 180px!important;
	left: 1700px;
}
.item_text{
	bottom:-4px;
}
.item_shadow{
	bottom:-408px;
	left: 0px;
}
.item_layer{
	height: 408px;
	width: 283px;
}
.left_shadow,
.right_shadow{
	top: 0;
}
.left_shadow{
	left: 0;
}
.right_shadow{
	position: absolute;
	left: 988px;
	top: 0px;
}

.train_main{
	width:600px;
	left: 340px;
	top:100px
}
.train_main h1{
	padding-bottom: 10px;
	width: 600px;
}
.train_line{
	width:600px;
	height: 2px;
	background:url(../img/tl_ico.png) no-repeat;
	background-position: -70px -367px;
}
.train_form{
	top:20px;
	width:600px;
	height: 425px;
	left: 0;
}
.train_start,.train_end,.train_time{
	height: 87px;
	font-size: 32px;
	line-height: 80px;
	left: 0;
	top:80px
}
.train_end{
	top:180px
}
.train_time{
	top: 280px;
}
.train_mouth,.train_mouth_0,.train_day,.train_day_0{
	width: 101px;
	height: 88px;
	left: 187px;
	top:280px;
	font-size: 35px;
	position: absolute;
	line-height: 88px;
	text-align: center;
	color: #FFFFFF;
}
.train_day{
	top: 0px;
	left: 202px;
}
.train_mouth_0,.train_day_0{
	left: 101px;
	top: 0px;
}
.train_mouth_input,.train_day_input{
	width: 101px;
	height: 88px;
	background:url(../img/tl_ico.png) no-repeat;
	background-position:0px -377px;
}
.train_mouth_input.active,.train_day_input.active{
	background:url(../img/tl_ico.png) no-repeat;
	background-position:-100px -377px;
}
.train_start_input,.train_end_input{
	width:420px;
	height: 90px;
	left: 187px;
	top:80px;
	background:url(../img/tl_ico.png) no-repeat;
	background-position:0px -117px;
}

.train_start_input.active,.train_end_input.active{
	background-position: -420px -117px;
}
.train_end_input{
	top:180px;
}
.start,.end{
	background-color: transparent;
	border:0;
	width: 395px;
	height: 84px;
	color: #d8d8d8;
	font-size: 28px;
	text-indent: 40px;
	font-weight: 600;
	line-height: 80px;
}
.start_dropdownlist,.start_dropdownlist_1{
	background: #0C1C2B;
	z-index: 10;
	width: 410px;
	position: absolute;
	left: 5px;
	top: 80px;
	display: none;
}
.start_dropdownlist_1{
	width: 600px;
	height: 300px;
	text-align: center;
}
.start_dropdownlist li,.start_dropdownlist_1 li{
	height: 50px;
	line-height: 50px;
	text-indent: 30px;
	font-size: 25px;
	color: #888;
}
.start_dropdownlist_1 li{
	width: 120px;
	float: left;
	text-indent: 0px;
}
.start_dropdownlist li.active,.start_dropdownlist_1 li.active{
	color: #fff;
}
.xc_items li,.gt_items li{
	width: 190px;
}
.train_back,.train_search,.train_btn_0,.train_btn_1,.train_btn_2{
	background: url(../img/btnGroup.png) no-repeat;
	width: 169px;
	height: 71px;
}
.train_back{
	top:290px;
	left: 0px;
}
.train_search{
	top:290px;
	left: 435px;
	background-position:-217px 0;
}
.train_btn_0{
	top:390px;
	left: 0px;
	background-position:-432px 0;
}
.train_btn_1{
	top:390px;
	left: 217px;
	background-position:-650px 0;
}
.train_btn_2{
	top:390px;
	left: 435px;
	background-position:-1060px 0;
}
.train_back.active{
	background-position:0px -110px;
}
.train_search.active{
	background-position:-217px -110px;
}
.train_btn_0.active{
	background-position:-432px -110px;
}
.train_btn_1.active{
	background-position:-650px -110px;
}
.train_btn_2.active{
	background-position:-1060px -110px;
}
.train_popup0{
	width: 1175px;
	height: 630px;
	background: url(../img/bg4.png) no-repeat;
	position:absolute;
	left: 50px;
	top:40px;
	z-index: 999;
}
#detail{
	width: 1175px;
	height: 650px;
}
.detail_1,.detail_2,.detail_3{
	left: 57px;
	top:60px;
	line-height: 24px;
}
.detail_2{
	left:417px;
}
.detail_3{
	left:777px;
	marg
}
.detail_head{
	left: 20px;
	top:15px
}
